---
const alt = 'Grain Fusion Company';
const src = '/company_logo.svg';
---
<a href="/" class="sl-site-title brand" aria-label={alt}>
    <img src={src} alt={alt} style="height:40px; width:auto; display:block;" />
</a>

